/* HERO STYLES START*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
}
body {
    color: #eee6ff;
    font-family: 'Courier New', Courier, monospace;
}
header {
    padding: 20px 35px;
    background-color: #dbc9f2;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}
.flex-item {
    display: flex;
    width: 45%;
    border-radius: 14px;
    margin-bottom: 15px;
    padding: 20px 0;
    min-height: 250px;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
}

.flex-container img {
    width: 100%;
    height: auto;
    border: 6px solid #d0edb9;
}
/*NAV STYLES START*/
.nav {
    padding: 20px;
    color: #d0edb9;
    list-style-type: none;
}
.nav div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}
.nav div ul {
    list-style-type: none;
}
.nav div ul li {
    display: inline-block;
    margin-left: 45px;
    font-size: 23px
}
a {
    color: #eee6ff;
    text-decoration: none;
}
/*NAV STYLES END*/

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}
article h2 {
    color: #d0edb9;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 15%;
    padding-top: 15px;
    border-bottom: 2px solid #eee6ff;
}

